#header{
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
}

#footer{
    text-align: center;
    color: white;
    background-color: black;
    height:50px;
}

.test .ui-btn{
	margin-left:10px;
	display:inline-block;
	width:15%;
	height:100px;
}

